<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>com.primitive_social_media.session.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>personalData</servlet-name>
        <servlet-class>com.primitive_social_media.personalData.PersonalDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>personalData</servlet-name>
        <url-pattern>/personalData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>com.primitive_social_media.post.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>com.primitive_social_media.message.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>premium</servlet-name>
        <servlet-class>com.primitive_social_media.premium.PremiumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>premium</servlet-name>
        <url-pattern>/premium</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>subscription</servlet-name>
        <servlet-class>com.primitive_social_media.post.subscription.SubscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscription</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>com.primitive_social_media.signUp.SignUpServlet</servlet-class>
        <multipart-config></multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.primitive_social_media.images.ImageServlet</servlet-class>
        <multipart-config></multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

</web-app>
